h2 {
  font-family: Arial, Helvetica, sans-serif;
   max-width: 700px;
  margin: 30px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;

  font-size: 2.4rem;
  font-weight: 700;
  color: #2c3e50;

}

/* BARRE DE RECHERCHE */
.serch {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.serch input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.serch button {
  padding: 10px 18px;
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.serch button:hover {
  background: #303f9f;
}

/* FORMULAIRE */
.card {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 25px;
  animation: fade 0.4s ease;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}

.card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card button {
  padding: 10px 20px;
  background: #3f51b5;
  color: white;
  border: none;
  border-radius: 6px;
}

/* LISTE LIVRES */
.livres-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
}

.livre-card {
  background: white;
  border-radius: 12px;
  padding: 18px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.livre-card:hover {
  transform: translateY(-6px);
}

.ligne {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.label {
  font-weight: bold;
  color: #555;
}

.delete-btn {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  background: #e53935;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c62828;
}

/* MESSAGE VIDE */
.empty {
  margin-top: 15px;
  font-style: italic;
  color: #666;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .serch {
    flex-direction: column;
  }
}
/* IMAGE LIVRE */
.livre-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
}

/* PREVIEW FORM */
.preview {
  width: 120px;
  height: 160px;
  object-fit: cover;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}
