









/* GLOBAL */
.dashboard {
  padding: 30px;
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* TITRE */
.dashboard h1 {
  max-width: 700px;
  margin: 30px auto;
  padding: 25px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;

  font-size: 2.4rem;
  font-weight: 700;
 

  animation: fadeIn 0.6s ease;
}

.subtitle {
  color: #666;
  margin-bottom: 30px;
}

/* STATS */
.stats-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card h2 {
  font-size: 36px;
  margin: 0;
}

.stat-card p {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.9;
}

.stat-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* NAVIGATION */
.nav-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.nav-card {
  background: white;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.nav-card h3 {
  margin: 10px 0 5px;
}

.nav-card p {
  color: #777;
  font-size: 14px;
}

/* HOVER NAV */
.nav-card:hover {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  transform: translateY(-8px);
}

.nav-card:hover p {
  color: #eee;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dashboard {
    padding: 15px;
  }

  .stat-card h2 {
    font-size: 28px;
  }
}
